.banner {
    position: relative;
    object-fit: contain;
    height: 800px;
    background-image: none;
  }

  .banner__video {
    z-index: 1;
    opacity: 1;
    left: auto !important;
  }

  .banner__background {
    z-index: -2;
    opacity: 1;
    left: auto !important;
  }

  .banner__video,
  .banner__background {
    position: absolute;
    bottom: 0px;
    left: 0px;
    min-width: 1440px !important;
    animation: move-down 2s 300ms both;
  }