.banner__parallaxe-logo {
    position: absolute;
    animation: reveal linear both;
    animation-timeline: view(block);
    animation-range: entry-crossing 0% contain 50%;
  }

  .banner img {
    width: 30%;
  }










