.story #characters h3 {
    margin-right: 45%;
}

.swiper-wrapper {

}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position:center;
    background-size: cover;
    width: 420px;
    height: 420px;
    text-align: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
