@charset "UTF-8";
.line {
  position: absolute;
  display: block;
  background: #000;
  width: 35px !important;
  height: 20px;
}

.l1 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.l3 {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.nav-toggler.active .l1 {
  -webkit-transform: translateY(0) rotate(135deg);
          transform: translateY(0) rotate(135deg);
}

.nav-toggler.active .l2 {
  opacity: 0;
}

.nav-toggler.active .l3 {
  -webkit-transform: translateY(0) rotate(-135deg);
          transform: translateY(0) rotate(-135deg);
}

.toggle {
  position: absolute;
  cursor: pointer;
  left: 90%;
  height: 35px;
}

.main-navigation.menu-burger {
  height: 80px;
}

.main-navigation.menu-burger ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.burger {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

body.burger.open {
  max-width: 1440px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-animation: fadeIn 1.4s ease-out 0.4s both;
          animation: fadeIn 1.4s ease-out 0.4s both;
}

.menu-ouvert {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #FFF5E9;
  color: black;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease, visibility 0.5s ease;
  transition: opacity 1s ease, visibility 0.5s ease;
}

.menu-ouvert ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.menu-ouvert li {
  font-size: 65px;
  line-height: 115px;
}

.menu-ouvert ul li {
  margin-bottom: 1rem;
}

.menu-ouvert li a:hover {
  color: black;
  text-shadow: 0px 0px 14px #FF5C00;
}

.ouvrir {
  display: block;
}

.fermer {
  display: none;
}

.open .ouvrir {
  display: none;
}

.open .fermer {
  display: block;
}

.open .menu-ouvert {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s ease, visibility 0.5s ease;
  transition: opacity 1s ease, visibility 0.5s ease;
}

.logo-menu {
  text-align: center;
  padding: 2rem;
}

.logo-menu img {
  width: 170px;
  height: auto;
  -webkit-filter: drop-shadow(0px 0px 26.0937px rgba(255, 92, 0, 0.6));
          filter: drop-shadow(0px 0px 26.0937px rgba(255, 92, 0, 0.6));
}

.liste-burger li {
  margin-top: 8px;
}

.burger-menu-footer-link a {
  margin-top: 60px;
  font-size: 14px;
}

.images-menu img {
  position: absolute;
}

.orchidee {
  top: 5em;
  left: 0;
  -webkit-animation: rotateFlower 10s linear infinite;
          animation: rotateFlower 10s linear infinite;
}

.fleur {
  top: 33em;
  left: 17em;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

.images-menu img.fleur {
  width: 5%;
  height: auto;
}

.marguerite {
  top: 9em;
  right: 16em;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

.images-menu img.marguerite {
  width: 13%;
  height: auto;
}

.hibiscus {
  right: 0;
  -webkit-animation: rotateFlower 10s linear infinite;
          animation: rotateFlower 10s linear infinite;
  bottom: 20em;
}

.fleurMauve {
  right: 0;
  -webkit-animation: rotateFlower 4s linear infinite;
          animation: rotateFlower 4s linear infinite;
  top: 28em;
}

.chat-mauve {
  top: 14em;
  left: 20em;
  -webkit-animation: float 8s 3s infinite ease-in-out;
          animation: float 8s 3s infinite ease-in-out;
}

.images-menu img.chat-mauve {
  width: 10%;
  height: auto;
}

.chat-orange {
  top: 50em;
  left: 6em;
  -webkit-animation: float 10s 2s infinite ease-in-out;
          animation: float 10s 2s infinite ease-in-out;
}

.images-menu img.chat-orange {
  width: 8%;
  height: auto;
}

.chat-gris {
  top: 32em;
  right: 23em;
  -webkit-animation: float 12s 4s infinite ease-in-out;
          animation: float 12s 4s infinite ease-in-out;
}

.images-menu img.chat-gris {
  width: 8%;
  height: auto;
}

/* Positionne le logo en parallaxe de manière absolue et applique une animation de révélation personnalisée */
.banner__parallaxe-logo {
  position: absolute;
}

/* Style pour les images dans la class banner, les positionne de manière absolue, et applique un effet de flottement */
.banner img {
  position: absolute;
  top: 400px; /* Position verticale */
  width: 30%; /* Largeur de l'image */
  -webkit-animation: float 8s 3s infinite ease-in-out;
          animation: float 8s 3s infinite ease-in-out; /* Animation de flottement avec délai de 3s, répétée indéfiniment */
}

/* Définit l'animation de flottement pour créer un mouvement dynamique de l'image */
@-webkit-keyframes float {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); /* Position initiale et finale identique pour un cycle continu */
  }
  10% {
    -webkit-transform: translate3d(-6px, -7px, 0);
            transform: translate3d(-6px, -7px, 0);
  }
  20% {
    -webkit-transform: translate3d(12px, 14px, 0);
            transform: translate3d(12px, 14px, 0);
  }
  30% {
    -webkit-transform: translate3d(-4px, -5px, 0);
            transform: translate3d(-4px, -5px, 0);
  }
  40% {
    -webkit-transform: translate3d(5px, 8px, 0);
            transform: translate3d(5px, 8px, 0);
  }
  50% {
    -webkit-transform: translate3d(-12px, -13px, 0);
            transform: translate3d(-12px, -13px, 0);
  }
  60% {
    -webkit-transform: translate3d(5px, -8px, 0);
            transform: translate3d(5px, -8px, 0);
  }
  70% {
    -webkit-transform: translate3d(-12px, 10px, 0);
            transform: translate3d(-12px, 10px, 0);
  }
  80% {
    -webkit-transform: translate3d(9px, 8px, 0);
            transform: translate3d(9px, 8px, 0);
  }
  90% {
    -webkit-transform: translate3d(-10px, -10px, 0);
            transform: translate3d(-10px, -10px, 0);
  }
}
@keyframes float {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); /* Position initiale et finale identique pour un cycle continu */
  }
  10% {
    -webkit-transform: translate3d(-6px, -7px, 0);
            transform: translate3d(-6px, -7px, 0);
  }
  20% {
    -webkit-transform: translate3d(12px, 14px, 0);
            transform: translate3d(12px, 14px, 0);
  }
  30% {
    -webkit-transform: translate3d(-4px, -5px, 0);
            transform: translate3d(-4px, -5px, 0);
  }
  40% {
    -webkit-transform: translate3d(5px, 8px, 0);
            transform: translate3d(5px, 8px, 0);
  }
  50% {
    -webkit-transform: translate3d(-12px, -13px, 0);
            transform: translate3d(-12px, -13px, 0);
  }
  60% {
    -webkit-transform: translate3d(5px, -8px, 0);
            transform: translate3d(5px, -8px, 0);
  }
  70% {
    -webkit-transform: translate3d(-12px, 10px, 0);
            transform: translate3d(-12px, 10px, 0);
  }
  80% {
    -webkit-transform: translate3d(9px, 8px, 0);
            transform: translate3d(9px, 8px, 0);
  }
  90% {
    -webkit-transform: translate3d(-10px, -10px, 0);
            transform: translate3d(-10px, -10px, 0);
  }
}
.amountTitle {
  opacity: 0;
  -webkit-animation: animTitle 4s linear forwards;
          animation: animTitle 4s linear forwards;
}

@-webkit-keyframes animTitle {
  from {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animTitle {
  from {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
h2 {
  -webkit-animation: reveal linear;
          animation: reveal linear;
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* Ajuste la marge à droite pour les titres h3 dans la section des personnages du récit,
   décalant le texte vers la gauche pour une mise en page spécifique. */
.story #characters h3 {
  margin-right: 45%;
}

/* Définit le style de base pour le conteneur Swiper, 
   y compris sa largeur et l'espacement au-dessus et en dessous pour aérer le contenu. */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Style pour chaque slide du Swiper, définissant sa taille, 
   le positionnement et la taille de l'arrière-plan, et l'alignement du texte. */
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 420px;
  height: 420px;
  text-align: center;
}

/* Assure que les images dans les slides Swiper prennent toute la largeur disponible,
   permettant une réponse visuelle cohérente à différentes tailles d'écran. */
.swiper-slide img {
  display: block;
  width: 100%;
}

/* Ajuste la marge supérieure pour les titres h4 dans les slides Swiper,
   positionnant le texte plus près de l'élément au-dessus. */
.swiper-slide h4 {
  margin-top: -10px;
}

/* Positionne la section .story par rapport à ses éléments enfants */
.story {
  position: relative;
  -webkit-animation: reveal linear;
          animation: reveal linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 50%;
}

/* Ajoute une pseudo-élément après les h2 dans .story, le positionne fixement, et applique une animation de rotation */
.story h2::after {
  position: fixed;
  left: 0.7em;
  top: 6em;
  -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
}

/* Ajoute une pseudo-élément après .story__article, le positionne absolument dans .story, et applique une animation de rotation */
.story__article::after {
  position: absolute;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

/* Définit les keyframes pour l'animation spin, qui fait tourner l'élément de 360 degrés */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.studio {
  -webkit-animation: reveal linear;
          animation: reveal linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 50%;
}

/* Ajoute une pseudo-élément avant les h2 dans .studio, 
   le positionne absolument, et applique une animation de rotation */
.studio h2::before {
  position: absolute;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

/* Ajoute une pseudo-élément après les h2 dans .studio, 
   le positionne absolument, et applique une animation de rotation */
.studio h2::after {
  position: absolute;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

/* Applique une animation de fondu à l'élément h2 dans #studio */
#studio h2 {
  -webkit-animation: fadein 6s;
          animation: fadein 6s;
}

/* Définit les keyframes pour l'animation spin, qui fait tourner l'élément de 360 degrés */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Définit les keyframes pour l'animation fadein, 
   faisant varier l'opacité de 0 (complètement transparent) à 1 (complètement opaque) */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* Applique une image de fond à l'élément #place situé dans .story */
.story #place {
  background-image: url("../assets/images/Studio_Koukaki-image_place.png");
}

/* Style commun pour petit-nuage et gros-nuage : positionnement absolu et flou */
.petit-nuage, #place .gros-nuage {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  position: absolute;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Positionne spécifiquement le petit nuage à 55% à gauche et 15% au-dessus du point de départ */
.petit-nuage {
  margin-top: -15%;
  left: 8%;
}

/* Positionne spécifiquement le gros nuage à 65% à gauche et 32% au-dessus du point de départ */
#place .gros-nuage {
  margin-top: -32%;
  left: 20%;
}

.nomination img {
  margin-left: 5%;
  margin-top: 200px;
}

/* Définit l'animation pour l'élément avant le .site-footer */
.site-footer::before {
  position: absolute;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite; /* Fait tourner l'élément en 3 secondes de manière continue */
}

/* Applique l'animation à l'élément après la liste ul dans .site-footer */
.site-footer ul::after {
  position: absolute;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite; /* Fait tourner l'élément en 5 secondes de manière continue */
}

/* Définit l'animation pour l'élément après le .site-footer */
.site-footer::after {
  position: absolute;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite; /* Fait tourner l'élément en 4 secondes de manière continue */
}

/* Définit les keyframes pour l'animation spin utilisée ci-dessus */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); /* Début de l'animation sans rotation */
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); /* Termine l'animation après une rotation complète */
  }
}
@media (max-width: 1360px) {
  .story #characters h3 {
    margin-right: 0;
  }
}
/* Règles pour ajuster le positionnement de la bannière sur les écrans plus grands que 768px */
@media (min-width: 769px) {
  .banner {
    position: relative; /* Définit la position relative pour la bannière, permettant un positionnement correct des éléments absolus à l'intérieur */
  }
}
/* Requête média pour les écrans jusqu'à 767px */
@media (max-width: 768px) {
  .site-title {
    font-size: 15px !important;
    margin-left: -350px;
    white-space: nowrap;
  }
  .toggle {
    left: 80%; /* Ajuste la position du bouton toggle */
  }
  .main-navigation ul {
    padding-left: 250px; /* Ajuste le padding pour la navigation principale */
  }
  .menu-ouvert li {
    font-size: 45px; /* Réduit la taille de la police pour les éléments du menu ouvert */
    line-height: 95px; /* Ajuste l'espacement des lignes */
  }
  .images-menu img {
    width: 15%; /* Ajuste la largeur des images dans le menu */
  }
  .banner__video {
    display: none; /* Masque la vidéo */
  }
  .banner__parallaxe-logo {
    display: none; /* Masque le logo en parallaxe */
  }
  .story #characters {
    margin: -6em;
  }
  .story #characters h3 {
    margin-right: 0;
    margin-top: 50px;
  }
  .swiper-wrapper {
    width: 60%;
  }
  #place .gros-nuage {
    display: none;
  }
  .petit-nuage {
    display: none;
  }
  .studio h2::before {
    visibility: hidden;
  }
  .studio h2::after {
    background-image: none;
  }
  .nomination img {
    margin-top: 50px;
    margin-left: 0;
  }
  .site-footer::after {
    visibility: hidden;
  }
}
@media (max-width: 700px) {
  .site-title h1 {
    display: none;
  }
  .toggle {
    left: 45%;
  }
  .main-navigation ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding-left: 350px;
  }
}
@media (max-width: 600px) {
  .main-navigation ul .site-title {
    font-size: 16px;
  }
}
@media (max-width: 470px) {
  #studio h2 {
    font-size: 2rem;
  }
  .site-footer ul::after {
    visibility: hidden;
  }
  .site-footer {
    padding-top: 3em;
  }
}
/* Requête média pour les écrans jusqu'à 390px */
@media (max-width: 390px) {
  .toggle {
    left: 70%; /* Ajuste davantage la position du bouton toggle pour les petits écrans */
  }
  .main-navigation ul {
    padding-left: 150px; /* Ajuste le padding pour la navigation principale sur les très petits écrans */
  }
  .menu-ouvert li {
    font-size: 35px; /* Réduit encore la taille de la police pour les éléments du menu ouvert */
    line-height: 75px; /* Ajuste l'espacement des lignes pour les petits écrans */
  }
  .images-menu img {
    width: 25%; /* Ajuste la largeur des images dans le menu pour les très petits écrans */
  }
}/*# sourceMappingURL=style.css.map */