.banner {
  background-image: url("./assets/images/banner.png");
  min-height: 806px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-top: -10%;
    width: 50%;
  }
}

.story {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    &::before {
      content: url('./assets/images/sunflower_leaves.png');
      position: absolute;
      left: 0;
      top: 1.8em;
      z-index: -1;
    }
    &::after {
      content: url('./assets/images/Sunflower.png');
      position: absolute;
      left: 0.7em;
      top: 6em;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 15px;
    padding-bottom: 2em;
    background-color: $color__background-body;
    &::before {
      content: url('./assets/images/hibiscus_leaves.png');
      position: absolute;
      left: 50%;
      top: 8em;
      z-index: -1;
    }
    &::after {
      content: url('./assets/images/Hibiscus.png');
      position: absolute;
      left: calc(50% + 414px);
      top: 2em;
    }
  }

  #characters {
    margin: 6em;
    display: flex;
    text-align: center;
    h3 {
      background-image: url("./assets/images/orange_characters_bg.png");
    }
    div {
      flex: 1
    }
    .other-characters {
      display: flex;
      flex-wrap: wrap;
      figure {
        width: 50%;
        padding: 2% 10%;
        margin: 0;
      }
    }
  }
  #place {
    display: flex;
    background-image: url("./assets/images/place_bg.png");
    width: 100%;
    min-height: 699px;
    background-size: cover;
    h3 {
      background-image: url("./assets/images/orange_place_bg.png");
      margin-bottom: -1em;
    }
    > div {
      max-width: 580px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 6em;
      p {
        padding-left: 5em;
      }
    }
  }
}


#studio {
  position: relative;
  margin-top: 3em;
  h2 {
    overflow: hidden;
    background-image: url("./assets/images/purple_studio_bg.png");
    &::before {
      content: url('./assets/images/random_flower.png');
      position: absolute;
      left: -1em;
      top: 0;
    }
    &::after {
      content: url('./assets/images/flower.png');
      position: absolute;
      right: 1em;
      top: 1.2em;
    }
  }

  > div {
    display: flex;
    justify-content: space-between;
    width: 66.66%;
    margin: auto;
    &::before {
      content: url('./assets/images/trple-leaf.png');
      position: absolute;
      left: calc(50% - 17.225px);
      top: 40%;
    }
    p{
    width: 44.5%
    }
  }
}

@media all and(max-width: #{$breakpoint__laptop}) {
  .story {
    &__article {
      &::before {
        left: 40%;
        top: 8em;
      }
      &::after {
        left: calc(40% + 414px);
        top: 2em;
      }
    }
  }
}

@media all and(max-width: #{$breakpoint__tablet}) {
  .story {
    &__article {
      &::before {
        left: 33%;
        top: 15em;
      }

      &::after {
        content: url('./assets/images/Hibiscus.png');
        position: absolute;
        left: calc(33% + 414px);
        top: 9em;
      }
    }
    #characters {
      flex-direction: column;
    }
  }
}

@media all and(max-width: #{$breakpoint__small_tablet}) {
  .story {
    h2{
      &::before {
        content: '';
      }

      &::after {
        content: '';
      }
    }
    &__article {
      width: 80%;
      &::before {
        content: '';
      }

      &::after {
        content: '';
      }
    }
    #characters {
      flex-direction: column;
    }
    #place {
      > div {
        margin: auto;
        width: 75%;
      }
    }
  }
  #studio {
    h2 {
      &::after {
        content: '';
      }
    }
    > div {
      &::before {
        content: '';
      }
      flex-direction: column;
      p {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: #{$breakpoint__large_phone}) {
  #studio {
    h2 {
      &::before{
        content: '';
      }
    }
  }

}